// 颜色定义规范
$color-background = #fff
$color-theme = #fff
$color-text = #000
$color-text-prey = #999
$color-text-prey-on =  #f2b567
$main-theme = #f4b51e
$bg = #f4f4f4


//字体定义规范
$font-size-22 = .22rem
$font-size-24 = .24rem
$font-size-26 = .26rem
$font-size-28 = .28rem
$font-size-30 = .30rem
$font-size-32 = .30rem
$font-size-36 = .36rem


